body {
    /* background-color: aliceblue; */
    font-family: "Roboto", serif;
    min-height: 100vh;
}

#container{
    width: 100%;
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: rgb(85, 85, 172);
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    width: auto;
    height: 10vh;
    font-size: 3em;
}

.side_news{
    display: flex;
    justify-content: flex-end;
}

.side_news_1, .side_news_2, .side_news_3{

    width: 30%;
    justify-content: flex-end;
    background-color: rgb(255, 247, 231);
    margin: 2em 0.5em;
    padding: 1em 0.5em;
    border: 2px solid black;
}


h3{
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 1em 0.5em;
    text-align: center;
}

h4{
    padding: 0.5em 0em;
    font-weight: bold;
}

.down{
    display: block;
    width: 50em;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.interview{
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    
}

.qr{
    margin: 2em;
}

.question{
    margin: 2.5em 0em 1.2em;
    font-weight: bold;
    font-size: 1.2em;
}

.reponse{
    text-justify: auto;
    line-height: 1.3em;

}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

p{
    margin: 1.5em 0em;
}