body {
    /* background-color: aliceblue; */
    font-family: "Roboto", serif;
    min-height: 100vh;

}

#container{
    width: 100%;
    background: linear-gradient(#211555, #9198e5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#main{

    display: flex;
    flex-direction: row;
    width: 100%; 
    max-width: 70%;
    margin: auto;

}

.header{

    display: flex;
    background-image: url("../ressources/dalaran_banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: auto;
    height: 13vh;
    font-size: 3em;
}

.side_news{
    display: 1;
    border: 20px solid rgb(255, 0, 0);
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;

}

.side_news_1, .side_news_2, .side_news_3{

    max-width: 50%;
    background-color: rgb(255, 254, 251);
    margin: 1em 0em 0em 1em;
    padding: 1em 0.5em;
    border: 2px solid black;

}


h2{
    font-size: 0.9em;
    text-align: center;
    background-color: rgb(66, 180, 66);
    width: 5%;
    border: solid 2px black;
    border-radius: 1em;
    margin: 0.5em 21em;
    padding: 0.3em;
}

.icefall{
    background-color: rgb(110, 214, 214);
}

h3{
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 1em 0em;
    padding: 0.5em 0.5em;
    text-align: center;
    line-height: 1.3em;
}

h4{
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    background-color: rgb(85, 85, 172);
    width: 51%;
    margin: 1em 0em 0em 1em;
}

h5{
    padding: 0.5em 0em;
    font-weight: bold;
    background-color: rgb(235, 177, 20);
    text-align: center;
}

.down{
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

.down {
    transition:transform 0.25s ease;
}

.down:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

.down-desc{
    color: rgb(0, 0, 0);
    padding: 0.8em;
    text-align: center;
    font-style: italic;
}

.interview{

    flex: 1;
    background-color: white;
       
    
}

.qr{
    margin: 2em;
}

.question{
    margin: 2.5em 1em 1.2em;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(26, 26, 104);

}

.reponse{
    text-justify: auto;
    line-height: 1.3em;
    margin: 0em 1em;

}

.italic{
    font-style: italic;
}

.bold, strong{
    font-weight: bold;
}

p{
    margin: 1.5em 1em;
    line-height: 1.3em;
    text-justify: auto;
}

.small_leap{
    margin: 0.6em 1em;
    line-height: 1.3em;
    text-justify: auto;
}

.try{
    display: block;
    width: 50em;
    
}

.try {
    transition:transform 0.25s ease;
}

.try:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

.down_night{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.down_night {
    transition:transform 0.25s ease;
}

.down_night:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}